@dark: #211D1E;
@light: #DDDDDD;
@lightest: #FFFFFF;

body {
    background: @dark;
    color: @light;
}

footer {
    color: @light;
    a {
        color: @lightest;
    &:hover{ color: @lightest; }
    }
}
