@dark: #211D1E;
@light: #DDDDDD;
@lightest: #FFFFFF;
@default-spacing: 15px;
@element-width: 300px;
@animation-time: 250ms;

body {
    background: @dark;
    color: @light;
    max-width: 1600px;
    margin: 0 auto;
    background: url(../pattern.jpg) repeat;
}

.twist-wrapper {
    
    padding: @default-spacing;
    
    .image-wrapper {
        padding: @default-spacing;
        background: white;
        border-radius: 50%;
        box-shadow: inset 0px 2px 4px rgba(0,0,0,0.2);
        max-width: @element-width;
        margin: 0 auto;
    }
    
    h1 {
        font-family: 'Playball', cursive;
        color: @lightest;
        text-decoration: underline;
    }
    
    img {
        margin: 0 auto;
    }
}

footer {
    margin-top: @default-spacing;
    color: @light;
    padding: @default-spacing;
    a {
        color: @lightest;
        &:hover{ color: @lightest; }
    }
}

.button-row {
    width: 203px;
    margin: 0 auto;
    .btn-twist {
        margin-right: 20px;
        font-size: 60px;
        text-align: center;
        cursor: pointer;
        color: darken(@light, 20);
        transition: all @animation-time ease-in-out;
        &:last-child { margin-right: 0; }
        &:hover { transition: all @animation-time ease-in-out; }
        &.btn-love:hover{ color: #157715; }
        &.btn-soso:hover{ color: #be841c; }
        &.btn-hate:hover{ color: #ac1c1c; }
    }
    
}

.twist-list-wrapper {
    width: 340px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto 20px auto;
    padding: 20px; 
}

#sortable-twist-list {
    margin: 0;
    width: 300px;
    border-radius: 10px;
    color: @dark;
    background: url(../pattern2.jpg) repeat;
    padding: 10px 10px 10px 75px;
    font-family: 'Playball', cursive;
    font-size: 30px;
    img{
        max-width: 200px;
    }
}