@main() {   </p>

@views.html.partials.gtm()
@views.html.partials.facebookSDK()

<nav id="twistigation">
    <ul role="tablist">
        <li id="vote-tab"><a href="#vote-page" role="tab" data-toggle="tab">Stem</a></li>
        <li id="list-tab"><a href="#list-page" role="tab" data-toggle="tab">Lag liste</a></li>
    </ul>
</nav>

<div class="tab-content">

    <div class="tab-pane fade" id="vote-page">
        <section id="overview-section">
            <div id="twist-overview-template-output"></div>
            <script id="twist-overview-template" type="text/x-handlebars-template">
                {{#twists}}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="twist-wrapper" data-id="{{id}}" id="{{id}}">
                        <h1 class="text-center twist-name" data-id="{{id}}">{{name}}</h1>
                        <div class="image-wrapper" data-id="{{id}}">
                            <div class="image-background">
                                <img src="@routes.Assets.at("images/pattern2.jpg")" class="img-responsive img-circle" alt="Image background">
                                <img src="@routes.Assets.at("images/twists/{{imageUrl}}.jpg")" class="top-image img-responsive img-circle" alt="{{name}}">
                                <canvas data-loves="{{likeCount}}" data-sosos="{{neutralCount}}" data-hates="{{dislikeCount}}" class="twist-stats" width="150" height="100"></canvas>
                            </div>
                        </div>
                        <div class="row button-row">
                            <a class="btn-twist btn-love text-left"   data-value="1" data-id="{{id}}"><i class="fa fa-smile-o"></i></a>
                            <a class="btn-twist btn-hate text-right"  data-value="-1" data-id="{{id}}"><i class="fa fa-frown-o"></i></a>
                            <a class="btn-twist btn-soso text-center" data-value="0" data-id="{{id}}"><i class="fa fa-meh-o"></i></a>
                        </div>
                    </div>
                </div>
                {{/twists}}
            </script>
            <div class="clearfix"></div>
            <div class="fake-footer text-center">
                TwistRating er utviklet og driftet av <a href="http://didi.no" target="_blank">didi</a>.
            </div>
        </section>
    </div>

    <div class="tab-pane fade" id="list-page">
        <section id="rating-section">
            <h1 class="text-center">Trykk og dra for å bytte plass på twistene</h1>
            <div id="twist-list-template-output"></div>
            <script id="twist-list-template" type="text/x-handlebars-template">
                <div class="twist-list-wrapper">
                    <ol id="sortable-twist-list" class="sortable list">
                        {{#twists}}
                        <li class="sortable-twist-element" data-charid="{{charId}}" draggable="true"><img src="@routes.Assets.at("images/twists/{{imageUrl}}_small.jpg")" alt="{{name}}"></li>
                        {{/twists}}
                    </ol>
                </div>
            </script>
            <h2 class="share-link copy-link text-center">Lag lenke</h2>
            <a href="" class="link-container text-center" target="_blank"></a>
            <h2 class="share-link share-on-facebook text-center">Del på facebook</h2>
            <div class="fake-footer text-center">
                TwistRating er utviklet og driftet av <a href="http://didi.no" target="_blank">didi</a>.
            </div>
        </section>
    </div>

</div>







<!-- Scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/jquery.requestAnimationFrame.min.js")"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script src="@routes.Assets.at("javascripts/Sortable.min.js")"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="@routes.Assets.at("javascripts/main.js")"></script>
<script src="@routes.Assets.at("javascripts/chart.min.js")"></script>

}

